[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sapo"]
	path = sapo
	url = https://github.com/lcgodoy/sapo
[submodule "smile"]
	path = smile
	url = https://github.com/lcgodoy/smile
